		#body-top{
			padding:0;
			background-image:url(assets/background/1200x600-all-solid-color-backgrounds/1200x600-baby-powder-solid-color-background.jpg);}
			.heading{padding-left:0;}
			.sub-heading{padding:0;}
			.body p{
				align-content: center;
				clear:both;}
			
				hr{
					clear:both;
					background-image:url(assets/background/1200x600-all-solid-color-backgrounds/1200x600-aero-solid-color-background.jpg);}
					.author{
						float:left;
						margin:auto;
						}
					.author img {border:5px solid lightblue;}
					table img{
						width:400;
						height:400;}
