body {
		background-image:url(assets/background/body.jpg);
		}
.body{
	padding-top:30px;
	}
.body .container{
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	}
	.body .container .body-left{
		width:25%;
		float:left;
		background-color:white;
		border-radius:5px;
		background-color:green;
		color:white;
	}
		.body-left .container{
		margin:25px auto;
		
		}
		.body-left .container div {
			margin-top:10px;
			}
		#side-bar-menu nav ul{
			margin-top:10px;}
		#side-bar-menu nav ul li ul{
		padding-left:50px;
		}
	
	.body .container .body-right{
		width:70%;
		float:right;
	}
