	.foot{
		color:white;
		clear:both;	
	}
	.foot a {
		color:white;
	}
	.foot a:hover{
		color:yellow;
	}

	.foot-top .container{
		background-color:blue;
		height:150px;
		display: flex;
		align-items:center;
		justify-content:center;
		list-style-type:circle;
		}
		.foot-top .container div div{
			height:100px;
			margin:0;
			padding:0 25px;
			border-right:1px solid lightblue;
			margin-top:10px;
			}
			.foot-top .container h3{
				position:relative;
				left:25px;}
			.foot-top .container h3, .foot-top .container li{
				margin:0;} 
	.foot-bottom{
		background-color:grey;
		padding-top:5px;
		padding-bottom:5px;
		}
		.foot-bottom p{
			margin-left:auto;
			margin-right:auto;
			width:27%;
			}