</head>
<body>
														<!--HEADER_include-->
	<div id="header">
    	<div id="head-quick-access">
        	<div class="quick-access-detail">&#9742 +66(0)96 27 60 03 8</div>
    		<div class="quick-access-detail">&#128231; &nbsp;<a href ="mailto: phones@isam.com.th" target="_top" class="head-top-details">					phones@isam.com.kh</a></div>
    		<div class="quick-access-detail"><a href="register-login/register.php">Register</a></div>
    		<div class="quick-access-detail">&#128273; <a href="#">Login</a></div>
    		<div class="quick-access-detail">
                <form >
                <input name="keyword" id="keyword" placeholder="Search Product..." type="text" value class="form-control"/>
                </form>
            </div>
        
        </div>
        
        <div id="logo-part-container">
        	<div id="logo"> 
            	<image src="assets/main-logo.png" />
            </div>
            <div id="logo-heading">
                    iSAM Phone Shop
            </div>
            <div id="scrolling-text-container">
                    <marquee behavior="scroll" scrollamount="5" direction="left" onMouseOver="this.stop()" onMouseOut="this.start();" style="width:100%;"> Welcome to iSam Phone Shop! We have all iPhone  and SAMSUNG models.</marquee> 
            </div>

        </div>
   
   															
                                    
                                    
                                    
                                     <!--HEADER_main menu_inlcude-->
      <div id="menu">
      	<ul>
      	<li><a href="index.html">Home</a></li>
        <li><a href="product.html" class="needs-drop-down-arrow">Product</a>
        	<ul>
            	<li><a href="iPhone Files/product_iphone.html">iPhone</a></li>
                <li><a href="iPhone Files/product_samsung.html">Samsung</a></li>
            </ul>
        </li>
        <li><a href="index.html">Shpping Cart</a></li>
        <li><a href="index.html">Registration</a></li>
        <li><a href="index.html">Login</a></li>
        <li><a href="index.html">About Us</a></li>
        <li><a href="index.html" class="needs-drop-down-arrow">Contact Us</a>
        	<ul>
            	<li><a href="#">Facebook</a></li>
                <li><a href="#">Email</a></li>
                <li><a href="#">Map</a></li>
                <li><a href="#">Phone Call</a></li>
            </ul>
        </li>
        </ul>
      
      </div>
    </div> 
      										<!--END OF HEADER_include-->	
                                             		<!--BODY-->
    
    <div id="body">
    											<!--BODY left-side bar include-->
      <div id="left-side-bar">
      <div class="product-search-box">
                <form >
                <center><input name="keyword" placeholder="Search Product..." type="text" value class="form-control"/></center>
                </form>
      </div>
      <br />
      <br />
      	<nav class="main-nav">
                <h2 style="color: white">&nbsp; &nbsp;Categories</h2>
                <ul class="main-nav-ul">
                    <li><a href="#" class="sub-arrow">iphone</a>
                    	<ul>
                            <li><a href="iPhone Files/iphone-6s-plus.html">iPhone<b>6s Plus</b></a></li>
                            <li><a href="#">iphone<b>6</b></a></li>
                            <li><a href="#">iPhoneb<b>5S</b></a></li>
                            <li><a href="#">iPhone<b>5</b></a></li>
                            <li><a href="#">iPhone<b>4S</b></a></li>
                            <li><a href="#">iphone<b>4</b></a></li>
                            <li><a href="#">iPhone<b>3GS</b></a></li>
                            <li><a href="#">iPhone<b>3G</b></a></li>
                        </ul>
                    </li>
                    <li><a href="#" style="color:lightblue;">SAMSUNG<span class="sub-arrow"></span></a>
                        <ul>
                            <li><a href="#">Galaxy <b>S</b></a></li>
                            <li><a href="#">Galaxy <b>Note</b></a></li>
                            <li><a href="#">Galaxy <b>A</b></a></li>
                            <li><a href="#">Galaxy <b>J</b></a></li>
                        </ul>
                    </li>
                </ul>
          </nav>
          
          <br/>
          <br/>
          <br/>
          <div class="map">
          	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.7171902666546!2d100.65921102562812!3d13.73556446741031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d61a987e00607%3A0xda2e11759cf75777!2sStamford+International+University!5e0!3m2!1sen!2sth!4v1454356348261" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
      										<!--END OF LEFT BODY-->

