
#head-wrapper{
	background-color:blue;
	color:white;}
	/*head-top*/
	#head-top{
		padding:25px;
		
	}
	#head-wrapper #head-top div div{
		display:inline-block;
		}
	
	#head-wrapper #header_website-title-left{
		color:darkblue;
		font-size:50px;;
		}
	#head-wrapper #header_website-title-right{
		color:white;
		font-size:35px;
	}
	/*hidden div*/
	#phone-portrait{
		padding-left:325px;
		position:relative;
		bottom:15px;
		}
	/*input */
	#shopping-cart-container{
		float:right;
		padding-top:7px;
		}
	#head-wrapper #product-search-box-container input {
		margin:100 0;}
/*/head-top*/

/*head-top*/
	#menu-horinzal{
		background-color:green;
		padding-left:10;
	}
		/*menu_horizontal*/
		#menu-horinzal ul{
			background-color:green;
			}
			#menu-horinzal ul ul li{
		background-color:green;
		border: 1px dashed grey;}
	#menu-horinzal a:hover{
		color:yellow;
		background-color:#05AA46;
		}
		#menu-horinzal{
			height:50px;
			width:100%;
			
			}
			#menu-horinzal ul{
				list-style:none;
				
			}
			#menu-horinzal ul li{
				width:120px;
				height: 50px;
				line-height:50px;
				text-align:center;
				float:left;
				position:relative;
			}
			#menu-horinzal ul li a{
				text-decoration:none;
				color:white;
				display:block;
			}
			#menu-horinzal ul ul{
				position:absolute;
				display:none;}
			#menu-horinzal ul li:hover > ul{
				display:block;
				}
				#menu-horinzal ul ul ul{
					margin-left:120px;
					top:0px;
				}
				#menu-horinzal ul li:hover .needs-drop-down-arrow:after {
				content:'\2039';
				}
			.needs-right-arrow:after {
				content: '\203A';
				float:right;
				margin-right: 20px;
				}
			#menu-horinzal ul ul li:hover .needs-right-arrow:after{
				content:'\2039';
				}
				

/*/head-bottom*/
/*/HEAD*/
