			.body-right .label{
				text-align:center;
				}
				.body-right ul {
					list-style:none;
				}
				.body-right ul li{
					width:25%;
					float:left;
					}
					.body-right ul li div{
						margin-left:8%;
						margin-right:8%;
						width:84%;
					border-radius:5px;
					}
					.body-right ul li div img{
						background-color:white;
						padding-top:10px;
						padding-bottom:10px;
						border-radius:5px;
						max-height:200px;
						max-width:100%;}
					.body-right ul li div .label,.body-right ul li div.button{
						padding-top:5px;
						padding-bottom:5px;}
						.body-right ul li div .label .price{
							color:red;
							font-weight:bold;}
						
			.product-type1{}
				.toolbar{
				background-color:green;
				border-radius:5px;
				overflow:hidden;
				padding:5px;
				
				}
			.toolbar .sort-mode{
				float:left;
				display: inline-block;}
			.toolbar .view-sorted-mode{
				display:inline-block;
				float:right;
				}				
				.body-right ul{
					clear:both;}
