/* CSS Document */

 	.body{padding:100px;}
	.body #body-top{padding:0;
	background-image:url(assets/background/1200x600-all-solid-color-backgrounds/1200x600-baby-powder-solid-color-background.jpg)}
	.heading{padding:0;}
	.sub-heading{padding-left:0; padding-top:50px;}
	table{width:100%; height:100%;}
							input[name="continue-shopping"]{
							float:left;
							padding:5px;
							text-align:center;
							vertical-align:middle;
							width:200px;
						}
							input[name="confirm"]{
								float:right;
								padding:5px;
							text-align:center;
							vertical-align:middle;
							width:200px;
							}

