				.body-right ul {
					list-style:none;
				}
				.body-right ul li{
					height:450px;
					width:50%;
					float:left;
					}
					.body-right ul li div{
					border-radius:5px;
					}
					.body-right ul li div img{
						background-color:white;
						border-radius:5px;
					}
					.body-right ul li div .label,.body-right ul li div.button{
					}
				.body-right ul li div .label .price{
							color:red;
							font-weight:bold;}
					iframe{
						height:150px;;
						width:100%;}
					table{
						height:50%;}
						
				.toolbar{
				background-color:green;
				border-radius:5px;
				overflow:hidden;
				padding:5px;
				
				}
			.toolbar .sort-mode{
				float:left;
				display: inline-block;}
			.toolbar .view-sorted-mode{
				display:inline-block;
				float:right;
				}				
			.hidden{
				clear:both;
				height:25px;}
				.body-right ul{
					clear:both;}
