 	.body #body-top{
		background-image:url(assets/background/1200x600-all-solid-color-backgrounds/1200x600-baby-powder-solid-color-background.jpg);
		}
	#body-top form{
		padding-left:100px;
		
		}
		#account-information{
			float: left;}
		#contact-information{
			float:left;}
			
		#login{
			float:left;}
			.sub-heading{
				padding:0;}
.body {
	padding-bottom:600px;}
	input{
		width:200px;
		}
	#login{
		position:relative;
		bottom:62px;}
	
