        	.shipping-page{
				float:right;
				width:70%;
				}
				.align-left, .align-right{
					vertical-align:middle;}
				table tr td{
					}
					.align-right{
						text-align:right;}
				table tr td{
					padding:10px;}
				
					
				
				
						input[name="items"]{
							height:20px;
							width:20px;
							text-align:center;}
						input[name="continue-shopping"]{
							float:left;
							padding:5px;
							text-align:center;
							vertical-align:middle;
							width:200px;
						}
							input[name="confirm"]{
								padding:5px;
							text-align:center;
							vertical-align:middle;
							width:200px;
							}
