                  		img {
							height:50;
							width:33;
						}
						input[name="items"]{
							height:20px;
							width:20px;
							text-align:center;}
						input[name="continue-shopping"]{
							float:left;
							padding:5px;
							text-align:center;
							vertical-align:middle;
							width:200px;
						}
							input[name="confirm"]{
								float:right;
								padding:5px;
							text-align:center;
							vertical-align:middle;
							width:200px;
							}
						table tr td{
							padding-left:20px;}
