	
	*{
	padding:0;
	margin:0;
	font-size: 14px;
	font-family:Century Gothic;
	}
	
	/*menu*/
	
	/* star*/
	.sup-required{
		vertical-align:super;
		color:red
		;}

	/* header */
	h1 {
		font-size:large;	
	}
	h2 {
		font-size:medium;}
		h3{
			}
	h1, h2, h3, h4, h5, h6{
		color:black;		
		}
	/*link*/
	a{
		text-decoration:none;
		color:white;}
	a:hover {
		color:yellow;
		text-decoration: underline;
		position:relative;
		bottom:1px;
	}
		input:hover,img:hover{
			background-color:lightgreen;
			position: relative;
			bottom:1px;}
	/*clear list style */
	.clear-list-style{
		
		list-style:none;
		}
	/*input box */
	
	input{
		height:30px;
		border-radius:5px;
		/*input-box_submit*/
		}
		.small-select{
			height:20px;
			width:70px;
		}
		select {
		height:40px;
		width:200px;
		border-radius:5px;
		font-family:Bodoni MT;
		font-size:14px;
		color:grey;}
				
		input[type="submit"], input[type="button"]{
				color:white;
				background-color:green;
				color:white;
				}
				input[name="addToCart"],input[name="viewProductDetail"]{
					width:48%;;
					height:25px;
					vertical-align:middle;
					padding:0;
					margin:0;
					}
					input[name="addToCart_productPage"]{
						width:60px;
					height:25px;
					vertical-align:middle;
					padding:0;
					margin:0;
					}
					
					
					input[name="addToCart"],input[name="addToCart_productPage"]{
						background-image:url(assets/icons/homepage-cart.png);
						background-position:center;
						background-repeat:no-repeat;
						
					}
		input[name="product-search-submit"]{
			width:30px;
			}
		input[type="submit"]:hover, input[type="button"]:hover{
			background-color: #05AA46;
			color:yellow;}
		input[type="radio"]{
			}
		label{
			}

/*table */
table{
	border-collapse:collapse;
	width:100%;
	border-color:grey;
	background-color:white;
	border-radius:5px;
}
	/*hidden*/
			.hidden{
				clear:both;
				height:25px;}
/*important*/
.price{
color:red;
font-weight:bold;}